<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
</head>
<body>
    <h2>Admin Dashboard</h2>
    <a href="{{ url_for('add_product') }}">Add Product</a>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Image</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product['title'] }}</td>
                <td>₹{{ product['price'] }}</td>
                <td><img src="{{ product['image'] }}" alt="{{ product['title'] }}" width="50"></td>
                <td>{{ product['description'] }}</td>
                <td>
                    <a href="{{ url_for('edit_product', product_id=product['_id']) }}">Edit</a>
                    <a href="{{ url_for('delete_product', product_id=product['_id']) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{url_for('logout')}}" method="POST">
        <button type="submit">logout</button>
    </form>
</body>
</html>