<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
</head>
<body>
    <h2>Products</h2>

    <div class="product-list">
        {% for product in products %}
        <div class="product-card">
            <h3>{{ product['title'] }}</h3>
            <img src="{{ product['image'] }}" alt="{{ product['title'] }}" width="100">
            <p>Price: ₹{{ product['price'] }}</p>
            <p>{{ product['description'] }}</p>
            <form action="{{ url_for('add_to_cart', product_id=product._id) }}" method="get">
                    <button class="add-cart-btn">Add to Cart</button>
                </form>

        </div>
        {% endfor %}
                <a href="{{ url_for('view_cart') }}">
        <button style="background-color: #3498db; color: white; padding: 8px 12px; border: none; cursor: pointer;">
            🛒 View Cart
        </button>
    </a>
        {% if name != "Guest" %}
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <p><a href="/api/login">Login</a> or <a href="/api/signup">Signup</a></p>
        {% endif %}
    </div>
</body>
</html>





